port: 7880
rtc:
  tcp_port: 7881
  udp_port: 7882
  use_external_ip: false
  node_ip: 100.42.169.34
  turn_servers:
    - host: voicecom.turbulent.net
      port: 3478
      protocol: udp
      username: turnuser
      credential: ${COTURN_PASS}

redis:
  address: redis:6379

keys:
  voicecom-prod: ${LIVEKIT_API_SECRET}

room:
  max_participants: 2000

webhook:
  api_key: voicecom-prod
  urls:
    - http://flask:5000/livekit/webhook
